.modal-wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center it */
  background-color: #fff;
  padding: 24px 32px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 90%;
}

.modal-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.modal-btn:hover {
  background-color: #0056b3;
}
.modal-container h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.modal-container p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.modal-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal-container button:hover {
  background-color: #0056b3;
}
